/* src/styles/HomeScreen.css */

.home-screen {
  text-align: center;
  color: black;
}

.video-container {
  margin: auto;
  max-width: 100%;
  overflow: hidden;
}

.about-section, .services-section, .faq-section, .contacts-section {
  padding: 15px 20px;
  background-color: white;
}

.about-content {
  margin: 0 auto;
  width: 80%; /* Expand to 80% of the screen width */
  text-align: center;
  padding: 20px;
  border: 1px solid #ddd;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.services-section {
  display: flex;
  justify-content: space-around;
}

.service-box {
  background-color: #f9f9f9;
  padding: 20px;
  width: 30%;
  text-align: center;
  border: 1px solid #ddd;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.faq-section {
  margin: 20px 0;
}

.faq-item {
  margin: 10px 0;
}

.faq-question {
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  padding: 10px;
  width: 100%;
  text-align: left;
  cursor: pointer;
  font-size: 16px;
}

.faq-question .faq-arrow {
  float: right;
  transition: transform 0.3s;
}

.faq-question .faq-arrow.open {
  transform: rotate(180deg);
}

.faq-answer {
  margin: 0;
  padding: 10px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-top: none;
}

.contacts-section footer {
  background-color: white;
  padding: 15px 20px;
  text-align: center;
}
